In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
data = {'museum_code': [1,2,3],
       'museum_abb': ['cmoa','moma','tate'],
        'museum_name': ['Carnegie Museum of Art','Museum of Modern Art','Tate'],
        'museum_location': ['Pittsburgh, Pennsylvania','New York, New York', 'London, United Kingdom'],
        'collection_url': ['https://cmoa.org/collection/','https://www.moma.org/collection/','https://www.tate.org.uk/about-us/collection/']
       }
museum_df = pd.DataFrame(data)
museum_df

,museum_code,museum_abb,museum_name,museum_location,collection_url
0,1,cmoa,Carnegie Museum of Art,"Pittsburgh, Pennsylvania",https://cmoa.org/collection/
1,2,moma,Museum of Modern Art,"New York, New York",https://www.moma.org/collection/
2,3,tate,Tate,"London, United Kingdom",https://www.tate.org.uk/about-us/collection/

In [3]:
museum_df.to_csv(r'..\03_load\museum_merged_dmw.csv', index=False)

_______________

### Prepare tate_artists data for merging

In [4]:
# Store filepath in variable
tate_artists = "../01_extracted_cleaned_data/tate_artist.csv"

# Read data file into pandas
tate_artists_df = pd.read_csv(tate_artists)
tate_artists_df

FileNotFoundError: [Errno 2] File ../01_extracted_cleaned_data/tate_artist.csv does not exist: '../01_extracted_cleaned_data/tate_artist.csv'

In [5]:
tate_artists_df.dtypes

NameError: name 'tate_artists_df' is not defined

_______________

### Prepare moma_artists data for merging

In [ ]:
# Store filepath in variable
moma_artists = "01_extracted_cleaned_data/moma_artists_transformed.csv"

# Read data file into pandas
moma_artists_df = pd.read_csv(moma_artists)
moma_artists_df

In [ ]:
# Filter out 'Unnamed' column from moma_artists_df
moma_artists_df = moma_artists_df.filter([
    'artist_id',
    'artist_name',
    'artist_role',
    'nationality',
    'gender',
    'birth_year',
    'birth_place',
    'death_year',
    'death_place',
    'wiki',
    'ulan'
])
list(moma_artists_df.columns)

In [ ]:
# Replace empty strings in artist_name with NaN
moma_artists_df['artist_name'].replace('', np.nan, inplace=True)

In [ ]:
# Drop rows with NaN in artist_name
moma_artists_df.dropna(subset=['artist_name'], inplace=True)

In [ ]:
# Drop duplicates in artist_name
moma_artists_df.drop_duplicates(subset ='artist_name',
                               keep=False, inplace=True)
moma_artists_df

In [ ]:
# Reorder moma columns
moma_artists_df = moma_artists_df[[
    'artist_name',
    'artist_role',
    'artist_id',
    'nationality',
    'gender',
    'birth_year',
    'birth_place',
    'death_year',
    'death_place',
    'wiki',
    'ulan']]
list(moma_artists_df.columns)

In [ ]:
# Sort by artist_name
moma_artists_df = moma_artists_df.sort_values('artist_name')
moma_artists_df

In [ ]:
# Reset index
moma_artists_df = moma_artists_df.reset_index(drop=True)
moma_artists_df

In [ ]:
# Replace all Nan values with empty string / sql or pgadmin won't read NaN
moma_artists_df = moma_artists_df.replace(np.nan, '', regex=True)
moma_artists_df

In [ ]:
# View df data types i.e. df.dtypes
moma_artists_df.dtypes

In [ ]:
moma_artists_df['birth_year'] = moma_artists_df['birth_year'].map(str)
moma_artists_df['death_year'] = moma_artists_df['death_year'].map(str)
moma_artists_df.dtypes

In [ ]:
moma_artists_df

_______________

### Prepare cmoa_artists data for merging

In [ ]:
# Store filepath in variable
cmoa_artists = "01_extracted_cleaned_data/cmoa_artist.csv"

# Read data file into pandas
cmoa_artists_df = pd.read_csv(cmoa_artists)
cmoa_artists_df

In [ ]:
# List columns
list(cmoa_artists_df.columns)

In [ ]:
# Replace empty strings in artist_name with NaN
cmoa_artists_df['artist_name'].replace('', np.nan, inplace=True)

In [ ]:
# Drop rows with NaN in artist_name
cmoa_artists_df.dropna(subset=['artist_name'], inplace=True)

In [ ]:
# Drop duplicates in artist_name
cmoa_artists_df.drop_duplicates(subset ='artist_name',
                               keep=False, inplace=True)
cmoa_artists_df

In [ ]:
# Reorder cmoa columns
cmoa_artists_df = cmoa_artists_df[[
    'artist_name',
    'artist_role',
    'artist_id',
    'nationality',
    'gender',
    'birth_year',
    'birth_place',
    'death_year',
    'death_place',
    'wiki',
    'ulan']]
list(cmoa_artists_df.columns)

In [ ]:
# Sort by artist_name
cmoa_artists_df = cmoa_artists_df.sort_values('artist_name')
cmoa_artists_df

In [ ]:
# Reset index
cmoa_artists_df = cmoa_artists_df.reset_index(drop=True)
cmoa_artists_df

In [ ]:
# Replace 'Nan' with empty string
cmoa_artists_df = cmoa_artists_df.replace(np.nan, '', regex=True)
cmoa_artists_df

In [ ]:
cmoa_artists_df.dtypes

____________
### Preparing dataframes to merge

In [ ]:
list(tate_artists_df.columns)

In [ ]:
list(moma_artists_df.columns)

In [ ]:
list(cmoa_artists_df.columns)

In [ ]:
tate_artists_df

In [ ]:
moma_artists_df

In [ ]:
cmoa_artists_df

# WE NEED TO FIGURE OUT HOW TO SPLIT THE DIFFERENT DATE FORMATS IN CMOA BIRTH/DEATH YEARS -- BEFORE WE CONCATENATE AND DROP DUPLICATE ARTIST NAMES

In [ ]:
tate_index = tate_artists_df.index
len(tate_index)

In [ ]:
moma_index = moma_artists_df.index
len(moma_index)

In [ ]:
cmoa_index = cmoa_artists_df.index
len(cmoa_index)

In [ ]:
total_rows = len(tate_index)+len(moma_index)+len(cmoa_index)
total_rows

In [ ]:
concat_df = pd.concat([tate_artists_df, moma_artists_df, cmoa_artists_df], axis=0)
concat_df

In [ ]:
artists_df = concat_df.sort_values('artist_name')
artists_df

In [ ]:
# Drop duplicate in artist_name
artists_df.drop_duplicates(subset ='artist_name',
                               keep=False, inplace=True)
artists_df

In [ ]:
# Reset index
artists_df = artists_df.reset_index(drop=True)
artists_df

In [ ]:
artists_df.to_csv(r'03_load\artists_merged_dmw.csv', index=False)