In [ ]:
# Import dependencies
import pandas as pd
import numpy as np

In [ ]:
# Store filepath in variable
file_data = "../00_input/the-file-collection.csv"

In [ ]:
# Read data file into pandas
file_df = pd.read_csv(file_data, sep=';')
file_df.head()

In [ ]:
# List column headers
list(file_df.columns)

In [ ]:
# Create a new column with just the first part before comma
file_artists_df['last_name'] = file_artists_df['artist'].str.split(', ').str[0]
file_artists_df.head()

In [ ]:
# Create a new column with just the sescond part after comma
file_artists_df['first_name'] = file_artists_df['artist'].str.split(', ').str[1]
file_artists_df.head()

In [ ]:
# CONCATENATE
file_artists_df['artist_name'] = file_artists_df['first_name'] + str(" ") + file_artists_df['last_name']
file_artists_df

In [ ]:
# List column headers
list(file_artists_df.columns)

In [ ]:
# Create copy of original df, keep only specific columns using '.filter' which will create a copy by default
# https://stackoverflow.com/questions/34682828/extracting-specific-selected-columns-to-new-dataframe-as-a-copy
file_artists_df = file_artists_df.filter(['artistRole','artist_name'])
file_artists_df.head()

In [ ]:
# Rename columns in file_artists_df to align with list
file_artists_df.columns = [
    'artist_role',
    'artist_name'
]
file_artists_df.head()

In [ ]:
# Add column headers with empty values
file_artists_df['artist_id']= ' '
file_artists_df['nationality']= ' '
file_artists_df['gender']= ' '
file_artists_df['birth_year']= ' '
file_artists_df['birth_place']= ' '
file_artists_df['death_year']= ' '
file_artists_df['death_place']= ' '
file_artists_df['wiki']= ' '
file_artists_df['ulan']= ' '

In [ ]:
# Replace empty strings in artist_name with NaN
file_artists_df['artist_name'].replace('', np.nan, inplace=True)

In [ ]:
# Drop rows with NaN in artist_name
file_artists_df.dropna(subset=['artist_name'], inplace=True)

In [ ]:
# Drop duplicate in artist_name
file_artists_df.drop_duplicates(subset ='artist_name',
                               keep=False, inplace=True)
file_artists_df

In [ ]:
# Reorder file columns
file_artists_df = file_artists_df[[
    'artist_name',
    'artist_role',
    'artist_id',
    'nationality',
    'gender',
    'birth_year',
    'birth_place',
    'death_year',
    'death_place',
    'wiki',
    'ulan']]
list(file_artists_df.columns)

In [ ]:
# Sort by artist_name
file_artists_df = file_artists_df.sort_values('artist_name')

In [ ]:
file_artists_df = file_artists_df.reset_index(drop=True)
file_artists_df

In [ ]:
# Replace 'Nan' with empty string
file_artists_df = file_artists_df.replace(np.nan, '', regex=True)
file_artists_df

In [ ]:
file_artists_df.to_csv(r'..\02_transform_file\file_artists.csv', index=False)